/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Serif', serif;
}

.container-1{
    max-width: 1200px;
    margin: 0 auto;
}

.container-2{
    max-width: 1050px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
}

.rela{
    position: relative;
}

.inline-block{
    display: inline-block;
}
