/* HEADER START */
header> nav{
    min-height: 60px;
    padding: 10px;
    background-color: #edb389;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    justify-content: space-between;
    align-items: center;
}

header > nav > div{
    width: 20%;
    justify-content: space-around;
}


/* HEADER END */


/* MAIN START */



/* MAIN END */


/* FOOTER START */

/* FOOTER END */

